/* 1.Fixed navbar */
/*body {
  min-height: 1000px;
  padding-top: 60px;
}*/
body {
  padding-top: 60px;
}


/* 2.Sticky footer styles  */
/*http://v3.bootcss.com/examples/sticky-footer/sticky-footer.css */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

img {
  position: relative;
  display:block;
  margin:0 auto;
  vertical-align:middle;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}
/* Custom page CSS  */
/* Not required for template or sticky footer method. */
.container {
  width: auto;
  max-width: 1000px;
  padding: 0 15px;
}
.credit {
  margin: 10px 0;
}


/*modify bootstrap.css p5227 for component [jumbotron] */
.jumbotron {
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Home */
#home h1 {
  font-size: 1.5em;
}

#profile #avatar {
  /*background-image: /images/13-14-km.jpg;*/
  /*background: url(/images/13-14-km.jpg) right -1px no-repeat;*/
  /*background: url(/images/13-14-km.jpg) 100% 10% no-repeat;
  max-height: 300px;
  min-height: 200px;
  max-width: 300px;
  min-width: 200px;*/
}

/* Tag-data */
#tag-data h1 {
  font-size: 1.5em;
}

/* Links */
#links h1 {
  font-size: 1.5em;
}

/* Blog */
#blog h1 {
  font-size: 1.5em;
}

#blog small{
  margin-left: 10px;
}

#blog h1 span{
  margin-left: 10px;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.5em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#site .meta {
    color: #aaa;
}

.center-meta {
  font-size: 80%;
  color: #aaa;
  text-align: center;
}






