_drafts/
_site/
build/
coverage/
target/
/.vscode
.npmglobal/
npm-debug.log
node_modules/
.sass-cache/

Thumbs.db
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
/public/
/resources/
.hugo_build.lock
/doc/
