.article-content a {
  border-bottom: 3px dotted #CBF8DF;
  box-shadow: unset;
}
.article-content p {
  /* overflow-wrap: break-word; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.article-meta {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0 12px;
}

.highlight {
  margin: unset;
}
.highlight pre {
  padding: unset;
}
@media (min-width: 600px) {
  .highlight {
    margin: unset;
  }
}

code {
  box-shadow: 1px 1px 5px #eee;
}
pre > code {
  box-shadow: 5px 5px 5px #eee;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 0.5em 3px;
  margin-left: 0.6rem;
}
.article blockquote > p {
  margin: 6px 0;
}

main { hyphens: auto; }

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th {
  border-bottom: 1px solid #ddd;
}
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee; }

.footer-links {
  color: #676262;
}
.footer-links-kudos img {
  border-radius: 50%;
}

#TableOfContents, #TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}
@media (min-width: 1440px) {
  #TableOfContents, #TOC {
    position: fixed;
    top: 100px;
    right: 0;
    max-width: 335px;
    min-width: 240px;
    margin-right: 2%;
  }
}

.thumbnail {
  display: flex;
  height: auto;
  max-width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 1.428571429;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.thumbnail>img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto
}
.thumbnail .caption {
  padding: 0 1.2rem;
  color: #333
}

img.show {
  transform: scale(1);
  transition: all 0.5s ease 0s;
}
img.show:hover {
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
}
img.case {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.r10 {
  border-radius: 10%;
}
@media (max-width: 600px) {
  img.show {
    max-width: 45%;
  }
}
