{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <h2 class="subtitle">{{ . }}</h2>
    {{ end }}

    {{ if .Params.author}}
    <span class="article-author">@{{ .Params.Author }}</span>
    {{ end }}
    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    {{ if or (.Params.categories) (.Params.tags)}}
    <div class="article-meta">
      <p class="terms info">
        {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
        {{ $i | title }}:
        {{ range $k := . }}
        <a href='{{ relURL (print "/" $i "/" $k | urlize) }}'>{{$k}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </p>
    </div>
    {{ end }}
    {{ if .Params.toc }}
    {{ .TableOfContents }}
    {{ end }}

    {{ if and (.Params.description) (.Params.showdesc)}}
    <blockquote class="desc">
      <p class="article-description">{{ .Params.description }}</p>
    </blockquote>
    {{ end }}
    <div class="article-content">
      {{ .Content }}

      {{ if or (.Prev) (.Next) }}
      <hr>
      {{ if .Prev }}
      <nav class="post-nav">
        <a href="{{ .Prev.RelPermalink }}">&larr; {{ .Prev.Title }}</a>
      {{ end }}
      {{ if .Next }}
        <a href="{{ .Next.RelPermalink }}">{{ .Next.Title }} &rarr;</a>
      </nav>
      {{ end }}
      {{ end }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
