---
layout: default
title: Blog
blog_class: active
---

<div id="blog" class="container">
  <h1>ALL Posts<small>聚沙成塔，积少成多<span class="badge" title="Totally {{ site.posts | size }} posts.">{{ site.posts | size }}</span></small></h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>MyPosts<small>说出所思，表达所想<span class="badge" title="Totally {{ site.categories.blog | size }} posts.">{{ site.categories.blog | size }}</span></small></h1>
  <ul class="posts">
    {% for post in site.categories.blog %}
      <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>Valuable<small>三人同行，必有我师<span class="badge" title="Totally {{ site.categories.forward | size }} posts.">{{ site.categories.forward | size }}</span></small></h1>
  <ul class="posts">
    {% for post2 in site.categories.forward %}
      <li><span>{{ post2.date | date_to_string }}</span> &raquo; <a href="{{ post2.url }}">{{ post2.title }}</a></li>
    {% endfor %}
  </ul>

</div>
