      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.RSSLink | relURL }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li>
          <li>
            <a href="/" class="footer-links-kudos"><img src="{{ .Site.Params.logo.url | relURL }}" alt="Logo" width="22" height="22"></a>
          {{ with .Site.Params.footer }} {{ replace . "{Year}" now.Year | markdownify}} {{ end }}
          </li>
        </ul>
      </footer>
      <div id="fixed-buttons">
        <button id="go-top">↑</button>
        <button id="go-bottom">↓</button>
      </div>
    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
    {{ partial "footer_linktarget" . }}
    {{ partial "footer_topbottom" . }}
  </body>
</html>
