<!-- {{ partial "header.html" . }} -->

<!-- <p>The page at <code>
<script>
document.write(location.href);
</script>
</code> was not found. Feel confused? Please go ahead and leave a message below to notify me. It will be great if you could tell me the URL of the page and where/how you got this URL. Thanks!</p> -->

<!-- {{ partial "footer.html" . }} -->

{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title"><a href="{{ "" | relURL }}">Go Back Home</a></h1>
       <h2>404</h2>
      </div>
    </main>
{{ end }}
