<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jing Ma" />


   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <!-- <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>
<body>



<div class="site">
  <div class="title">
    <a href="/">Jing Ma</a>
    <a class="extra" href="/">Home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Jing Ma<br />
        <a href="http://www.buaa.edu.cn">BUAA</a>er<br />
        mjingm87@qq.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/m4jing">github.com/m4jing</a><br />
        <a href="http://weibo.com/m4jing">weibo.com/m4jing</a>
        <a href="http://twitter.com/lagrangema">twitter.com/lagrangema</a><br />
      </p>
    </div>

  </div>
</div>

<!-- <a href="http://github.com/m4jing"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a> -->



<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
