---
layout: default
---

<div id="post" class="container">
    {{ content }}
<!-- </div> -->

<div id="tags" class="container">
<!--
Word_Num: {{ page.content | number_of_words }}
{{ page.tags | array_to_sentence_string }}
{{ page.tags }}
-->
{% if page.tags.size != 0 %}
<span class="glyphicon glyphicon-tags" style="margin-right:5px;"></span>
{% for tag in page.tags %}
  <span class="label label-primary">{{ tag }}</span>
{% endfor %}
{% endif %}
<div class="bdsharebuttonbox pull-right">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <!-- <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a> -->
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <!-- <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a> -->
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
</div>
<!-- <span style="margin-left:5px;"> -->
<div>
本文地址：<a href="{{ page.url }}">{{ site.myhost }}{{ page.url }}</a>
</div>
</div> <!-- #tags -->

</div> <!-- #post -->

<div id="more" class="container">
  <h2>More Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<script>
window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "1",
        "bdSize": "16"
    },
    "share": {}
};
with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>